<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <title>
      {% block title %}

      {% endblock %}| Marketdjango
    </title>
  </head>

  <body class="m-0">
    <header>
      <nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
        <a href="/" class="text-xl font-semibold">Martketdjango</a>

        <div class="space-x-6">
          <a href="#" class="text-lg font-semibold hover:text-gray-500">New item</a>
          <a href="#" class="text-lg font-semibold hover:text-gray-500">Browse</a>
          <a href="#" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
          <a href="#" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-teal-700">Login</a>
        </div>
      </nav>
    </header>
    <main class="px-6 py-6">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="py-6 px-60 bg-gray-800 flex justify-between items-center">
      <div class="w-1/2">
        <h3 class="text-lg font-semibold text-gray-400">Menu</h3>
        <ul class="space-y-1">
          <li>
            <a href="/about" class="text-lg text-teal-500 hover:text-teal-700">About</a>
          </li>
          <li>
            <a href="/privacy" class="text-lg text-teal-500 hover:text-teal-700">Privacy</a>
          </li>
          <li>
            <a href="/contact" class="text-lg text-teal-500 hover:text-teal-700">Contact</a>
          </li>
          <li>
            <a href="/terms-of-use" class="text-lg text-teal-500 hover:text-teal-700">Terms of use</a>
          </li>
        </ul>
      </div>
      <div class="w-1/2">
        <h3 class="font-semibold text-white">About</h3>
        <p class="text-lg text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, vel provident a atque maiores voluptas nulla. Veniam debitis incidunt excepturi nobis ex, quisquam sit obcaecati reiciendis sint ratione in hic.</p>
      </div>
    </footer>
  </body>
</html>
