{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>Hello fucking world!</h1>
  <h1>Hello fucking world!</h1>
  <h1>Hello fucking world!</h1>
  <h1>Hello fucking world!</h1>
  <h1>Hello fucking world!</h1>
  <h1>Hello fucking world!</h1>
  <h1>Hello fucking world!</h1>

   <h1>Hello fucking world!</h1>
   <h1>Hello fucking world!</h1>
   <h1>Hello fucking world!</h1>
   <h1>Hello fucking world!</h1>
   <h1>Hello fucking world!</h1>


   <h1>Hello fucking world!</h1>
   <h1>Hello fucking world!</h1>
   <h1>Hello fucking world!</h1>
   <h1>Hello fucking world!</h1>

   
   <h1>Hello fucking world!</h1>
{% endblock %}
